:root {
  --white: #FFFFFF;
  --pink: #F2EAEA;
  --navy: #0F1820;
  --teal: #759195; 
  --poppins: 'Poppins', sans-serif;
  --sanchez: 'Sanchez', serif;
}

body {
  width: 100%;
  background: var(--pink);
}

a {
  text-decoration: none;
  color:#759195;
}

.jumbo {
  max-height:186px;
  max-width:100%;
  overflow: hidden;
  margin-bottom: 73px;
}



.jumbo__image {
  object-fit: cover;
  object-position: 0 -75px;
  width:100%;
}

.details {
  color: var(--navy);
  letter-spacing: 1px;
  margin: auto 25px;
  padding-bottom:25px;

}

.details__location{
  font-family: var(--poppins);
  font-size: 12px;
  font-weight: 400;

}

.details__where {
  font-family: var(--sanchez);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; 
}

.details__location-text {
  color: var(--navy);
  font-family: var(--poppins);
  font-size: 10px;
  font-weight: bold;
  line-height: 20px; 
}

.details__location-button {
  display: none;
}

@media(min-width:440px){
  .jumbo {
    max-height: 240px;
  }

  .jumbo__image {
    object-position: 0 -75px;
  }

}

@media(min-width:530px){
  .jumbo {
    max-height: 300px;
}

} 

@media(min-width:560px){
  .jumbo {
    max-height: 340px;
}
}
@media(min-width:620px){
  .jumbo {
    max-height: 380px;
  }
}

@media(min-width:710px){
  .jumbo {
    max-height: 440px;
  }
} 

@media(min-width:780px){
  .jumbo {
    max-height: 480px;
  }
} 

@media(min-width:780px){
  body {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-height:616px;
  }

  .jumbo {
    height:100%;
    width: 100%;
  }
    
  .jumbo__image {
    object-fit: cover;
    width:100%;
  }
  
  .details {
    margin: auto 78px;
    max-width: 401px;
  }
  
  .details__location {
    font-size: 14px;
    font-weight: 400;
    
    }
  
  .details__where {
    font-size: 26px;
    font-weight: 400;
    line-height: 28px; 
    max-width: 371px;
  }
  
  .details__location-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px; 
  }

  .details__location-button {
    display: inline-block;
    font-family: var(--sanchez);
    font-size:14px;
    height:47px;
    width: 214px;
    border: solid #759195 1px;
    background: rgba(255, 255, 255, 0);
    transition: background color 1s;
  }

  .details__location-button:hover {
    background: rgba(255, 255, 255, 0.233);
  }

} 