:root {
  --white: #FFFFFF;
  --pink: #F2EAEA;
  --navy: #0F1820;
  --teal: #759195; 
  --poppins: 'Poppins', sans-serif;
  --sanchez: 'Sanchez', serif;
}

a {
  text-decoration: none;  
}

.container {
  width: 100%;
  background: var(--pink);
}

.jumbo {
  width:100%;
  overflow: hidden;
}

.jumbo__image {
  width:100%;
  object-fit: cover;
  height:28vh;
}
.details {
  color: var(--navy);
  letter-spacing: 1px;
  margin: auto 25px;
  padding-top: 7vh;
  padding-bottom: 50px;
}

.details__location {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 12px;
}

.details__where {
  font-family: var(--sanchez);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px; 
  width: 100%;
}

.details__location-text {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px; 
  letter-spacing: 0px;
}

.details__location-button {
  display: none;
}

@media(min-width:768px){
  .container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height:auto;
    /* max-height:100vh; */
  }
  .jumbo {
    height: 616px;
  }
  .jumbo__image {
    height:100%;
    object-fit: cover;
    
  }
  .details{
    margin: auto 10%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .details__location {
    font-size: 14px;
  }
  .details__where {
    font-size: 26px;
    max-width:371px;
  }
  .details__location-text {
    font-size: 14px;
    max-width: 400px;
  }
  .details__location-button {
    color: var(--teal);
    display: inline-block;
    font-family: var(--sanchez);
    font-size:14px;
    height:47px;
    width: 214px;
    border: solid #759195 1px;
    background: rgba(255, 255, 255, 0);
    transition: all .25s;
  }
  .details__link {
    color:var(--teal);
  }
  .details__location-button {
    display: inline-block;
    font-family: var(--sanchez);
    font-size:14px;
    height:47px;
    width: 214px;
    border: solid var(--teal) 1px;
    background: rgba(255, 255, 255, 0);
    transition: all .25s;
  }
  .details__location-button:hover {
    background: rgba(255, 255, 255, 0.767);
  }

}



